<!DOCTYPE html>
<html ng-app="rewardsApp">
<head>
    <meta charset="utf-8" />
    <title>Dev Rewards</title>

    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css" rel="stylesheet" />-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-resource.js"></script>
    <script src="app.js"></script>
    <style>
        .reward {
            height: 180px;
        }

        .rewards ul {
            list-style: none;
        }

        .slabtexted .slabtext {
            display: -moz-inline-box;
            display: inline-block;
            white-space: nowrap;
        }

        .slabtextinactive .slabtext {
            display: inline;
            white-space: normal;
            font-size: 1em !important;
            letter-spacing: inherit !important;
            word-spacing: inherit !important;
            *letter-spacing: 0 !important;
            *word-spacing: 0 !important;
        }

        .slabtextdone .slabtext {
            display: block;
            text-align: center;
            font-family: 'Oswald' ,Sans serif;
        }
    </style>
</head>
<body>
    <banner></banner>
    <rewards></rewards>
</body>
</html>